{% extends 'Admin_Login_App/base.html' %}
{% load static %}
{% load bootstrap_icons %}

<!-- title -->
{% block title %} Courses {% endblock %}

<!-- Link css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/Admin_Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/side_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/course_page.css' %}">

{% endblock %}

<!-- link js -->
{% block link_js %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}

<!-- header -->
{% block header %}
    {% include 'Admin_Login_App/Admin_Header.html' %}
{% endblock %}

<!-- body content -->
{% block content %}

<div class="container-fluid">
    <div class="row bg-body-tertiary">

        <!-- side navbar -->

        {% block sidenavbar %}

        {% include 'Admin_Login_App/Side_Navbar.html' %}

        {% endblock %}

        <!-- navbar -->
        <div class="col-10 py-5" style="background-color: #f6f6f6;">
            <div class="row">

                {% block navbar %}

                    {% include 'Admin_Login_App/navbar.html' %}

                {% endblock %}

                {% block course_page %}

                    {% include 'Admin_Login_App/course_page.html' %}

                {% endblock %}
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    CKEDITOR.replace('id_description');
</script>
{% endblock %}