{% load static %}
{% load bootstrap_icons %}

{% block Partners_list %}
<div class="container" id="course-content">

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="panel panel-default border">
                <div class="panel-heading ps-3">
                    <h3 class="panel-title border-bottom pb-2"> {% bs_icon 'list-task' %} <span
                            class="Add_Course">Partners List</span></h3>
                </div>
                <div class="panel-body bg-white px-3 py-3">

                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th scope="col">Images</th>

                                <th scope="col" class="text-end">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for x in form %}
                            <tr>
                                <td>{{x.name}}</td>
                                <td>
                                    {% if img_obj %}
                                        <img src="{{ img_obj.images.url }}" alt="connect" style="max-height:300px">
                                    {% endif %}
                                </td>

                                <td class="text-end"><a href="#" id="update" class="btn btn-class" href="#">{% bs_icon
                                        'pencil' %}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}